body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-page {
  margin: auto;
  max-width: 1000px;
  width: calc(100% - 40px);
  padding: 20px;

  padding-top: 100px;
}
.search-bar {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccdcdc;
}

.search-bar input {
    padding: 10px;
    border: none;
    flex: 10;
}

.search-bar button {
  padding: 10px;
  border: none;
  background: #ccdcdc;
  cursor: pointer;
  flex: 1;
  cursor: pointer;

  transition: 0.2s;
}

.search-bar button:hover {
  background: #acbbbb;
}

.search-bar button:active {
  background: #94a0a0;
  transition: 0.0s;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 50px;
}

.record {
  padding: 10px;
  flex: 0 0 180px;
}

.record label {
  padding: 5px;
}

.record-values {
  padding: 5px;
  background: transparent;
  border: 1px solid #ccdcdc;
}

.card {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  padding: 10px;
  background: #f0f0f0;

  cursor: pointer;

  display: flex;
}

.card-lang {
  width: 100px;
  padding-left: 20px;
  font-weight: 300;
  border-right: 1px solid #cacaca;
}

.card-value {
  font-weight: 400;
  padding-left: 20px;
}

.result-main-field {
  padding-top: 50px;
}

.parameter-page {
  width: 500px;
  padding: 40px;
  border-radius: 10px;

  height: 600px;
  background: #ffffff;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);

  position: fixed;
  bottom: 30px;
  right: 80px;

  overflow-y: auto;
  overflow-x: hidden;

}

.parameter {
  padding: 10px;
}

.parameter-header {
  padding: 0 0 10px 0;
}

.parameter-header-color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #b01ed4;

  margin-right: 5px;
  vertical-align: middle;

  display: inline-block;
}

.parameter-header-id {
  font-weight: 500;
  padding-right: 10px;
}

.parameter-header-name {
  font-weight: 300;
  color: #222222;
}

.parameter-example-top {
  padding: 8px 20px 8px 20px;
  background-color: #e7e7e7;
}

.parameter-example-content {
  padding: 15px;
  background-color: #f0f0f0;
  color: #3d3d3d;
  font-weight: 300;
}

@keyframes parameter-raise {
  from {
    opacity: 0.0;
    visibility: visible;
  }

  to {
    opacity: 1.0;
  }
}

@keyframes parameter-hidden {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
    visibility: hidden;
  }
}

.parameter-page-state-init {
  visibility: hidden;
}

.parameter-page-state-hidden {
  animation: parameter-hidden 0.1s forwards;
}

.parameter-page-state-visible {
  animation: parameter-raise 0.1s forwards;
}

.card-body {
  background-color: #fafafa;
  transition: 0.2s;
  height: auto;
}

.card-body-state-hidden {
  max-height: 0;
}

.card-body-state-visible {
  max-height: 8000px;
}

.card-record {
  width: 100%;
  display: flex;
}

.card-record-param-id {
  flex: 1;
}

.card-record-value {
  flex: 1;
}

.card-record-translation {
  flex: 4;
}

.card-record-example {
  flex: 4;
}

.card-record-source {
  flex: 3;
}

.card-record-note {
  flex: 4;
}

.card-record-param {
  padding: 5px;
}
